<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Numero pedido</th>
      <th>Cep</th>
      <th>Descricao</th>
      <th>Suspeito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.nome %></td>
        <td><%= complaint.email %></td>
        <td><%= complaint.numero_pedido %></td>
        <td><%= complaint.cep %></td>
        <td><%= complaint.descricao %></td>
        <td><%= complaint.suspeito %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
