<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<p>
  <strong>Nome:</strong>
  <%= @complaint.nome %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @complaint.email %>
</p>

<p>
  <strong>N&uacute;mero pedido:</strong>
  <%= @complaint.numero_pedido %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @complaint.cep %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @complaint.descricao %>
</p>

